
@{
    ViewBag.Title = "Instructors";
}

@model List<Hackathon2019.Models.Instructor>

<h3 align="center">Вітаємо викладача!</h3>

<div class="col-md-12">
    <div class="form-group">
        @Html.ActionLink("Підтвердження оцінок", "Index", "Modules")
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Ім*я</th>
        <th scope="col">Прізвище</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var S in Model)
    {
        <tr>
            <td>@S.User.FirstMidName</td>
            <td>@S.User.LastName</td>
            <td>@Html.ActionLink("Детально", "Detail", "Instructors", new { S.User.Id }, null)</td>
        </tr>
    }
    </tbody>
</table>



